.contact-page {
	@include site-container;
	padding: 20px 0;
	background: #fff;

	.contact-list {
		@include border-box;
		padding-bottom: 25px;

		li {
			display: block;
			margin: 22px auto;

			.fa {
				display: inline-block;
				width: 32px;
				margin: 0 10px 0 0;
				color: #68be28;
				font-size: 32px;
			}

			a {
				color: #4a4a4a;
				font: 400 22px / 24px $Roboto;
			}
		}
	}

	.form-block {
		padding-top: 28px;
		background-color: whitesmoke;

		.form-title {
			margin: 0 auto 22px;
			text-align: center;
			color: #4a4a4a;
			font: 400 22px / 24px $Roboto;
			text-transform: uppercase;
		}
	}

	#contact-form {
		@include border-box;
		max-width: 662px;
		width: 100%;
		margin: 0 auto;

		#client-contact-name,
		#client-contact-phone,
		#client-contact-email,
		#client-contact-message {
			width: 100%;
			margin: 7px 0;
			@include border-box;
			outline: none;
			resize: none;
			color: #000;
			font: 400 18px / 22px $Roboto;
			border: 2px solid #68be28;
		}

		#client-contact-name,
		#client-contact-phone,
		#client-contact-email {
			height: 43px;
			padding: 0 0 0 30px;
			background-position: 5px !important;

			::-webkit-input-placeholder {
				padding-left: 35px;
				color: #7a7a7a;
				font: 400 20px / 22px $Roboto;
			}

			:-moz-placeholder {
				padding-left: 35px;
				color: #7a7a7a;
				font: 400 20px / 22px $Roboto;
			}

			::-moz-placeholder {
				padding-left: 35px;
				color: #7a7a7a;
				font: 400 20px / 22px $Roboto;
			}

			:-ms-input-placeholder {
				padding-left: 35px;
				color: #7a7a7a;
				font: 400 20px / 22px $Roboto;
			}
		}

		#client-contact-name {
			background: #fff url("../images/icon-man-form.png") no-repeat;
		}
		#client-contact-phone {
			background: #fff url("../images/icon-phone-form.png") no-repeat;
		}
		#client-contact-email {
			background: #fff url("../images/icon-email-form.png") no-repeat;
		}

		#client-contact-message {
			height: 158px;
			padding: 10px 0 0 8px;

			::-webkit-input-placeholder {
				padding: 10px 0 0 8px;
				color: #7a7a7a;
				font: 400 18px / 22px $Roboto;
			}

			:-moz-placeholder {
				padding: 10px 0 0 8px;
				color: #7a7a7a;
				font: 400 18px / 22px $Roboto;
			}

			::-moz-placeholder {
				padding: 10px 0 0 8px;
				color: #7a7a7a;
				font: 400 18px / 22px $Roboto;
			}

			:-ms-input-placeholder {
				padding: 10px 0 0 8px;
				color: #7a7a7a;
				font: 400 18px / 22px $Roboto;
			}
		}

		#contact-sbm-btn {
			display: block;
			width: 198px;
			height: 41px;
			margin: 29px auto 0;
			text-align: center;
			color: white;
			font: 400 18px / 22px $Roboto;
			background-color: #68be28;
			border: none;
			cursor: pointer;
			@include transition;

			&:hover {
				webkit-box-shadow: 0px 0px 22px 3px #68be28;
				-moz-box-shadow: 0px 0px 22px 3px #68be28;
				box-shadow: 0px 0px 22px 3px #68be28;
			}
		}
	}
}