.content-404 {
	@include site-container;
	padding: 20px 0;

	.error-sign {
		max-width: 630px;
		max-height: 380px;
		margin: 20px auto;
		padding: 40px 0;
		border: 2px solid #ebebeb;
		text-align: center;

		.position-block {
			.title-404 {
				color: #68be28;
				font: 400 100px / 110px $Roboto;
			}
			.after-title {
				color: #7a7a7a;
				font: 400 22px / 26px $Roboto;
			}
		}
	}
}
