.services-more-page {
	@include site-container;
	padding: 20px 0;
	overflow: hidden;

	.services-menu {
		max-width: 289px;
		width: 100%;
		height: auto;
		margin: 20px auto;
		padding: 23px 18px;
		overflow: hidden;
		@include border-box;
		background-color: whitesmoke;

		.menu-list {
			width: 100%;
			@include border-box;

			& > li {
				display: block;
				width: 100%;
				height: auto;
				margin: 0 0 33px;
				padding-left: 20px;
				@include border-box;
				position: relative;

				&:before {
					position: absolute;
					content: "";
					top: 5px;
					left: 0;
					display: block;
					width: 10px;
					height: 10px;
					background-color: #68be28;
				}

				&:last-child {
					margin-bottom: 0;
				}

				a {	
					color: #4a4a4a;
					font: 400 22px / 24px $Roboto;
					text-transform: uppercase;
				}

			}
			.toggle-submenu {
				display: none;

				.toggle-submenu-list {
					margin: 20px 0 0 15px;

					li  {
						display: block;
						margin: 5px 0;
						padding-left: 15px;
						position: relative;

						&:before {
							position: absolute;
							content: "";
							top: 12px;
							left: 0;
							display: block;
							width: 6px;
							height: 2px;
							background: #7a7a7a;

						}
						a {
							display: block;
							margin: 15px 0;
							color: #7a7a7a;
							font: 400 22px / 24px $Roboto;
							text-transform: inherit;
						}
					}
				}
			}
			.toggle-active {
				display: block;
			}
		}
	}

	.img-wrapper {
		position: relative;
		width: 289px;
		height: 189px;
		margin: 0 auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;

		img {
			min-height: 100%;
			min-width: 100%;
			max-width: none;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
	}

	.post-date {
		margin: 0 0 15px;
		text-align: center;
		color: #68be28;
		font: 300 16px / 22px $Roboto;
		text-transform: uppercase;
	}
	.services-more-content {
		margin: 24px auto;
		padding: 0 10px;
		color: #4a4a4a;
		font: 400 18px / 22px $Roboto;

		&:nth-of-type(2) {
			display: none;
		}
	}

	.slider-more {
		position: relative;

		.left-rgba,
		.right-rgba {
			position: absolute;
			content: "";
			top: 0;
			width: 11%;
			height: 133px;
			z-index: 2;
			background: rgba(255, 255, 255, 0.6);
		}
		.left-rgba {
			left: 0;
		}
		.right-rgba {
			right: 0;
		}
	}

	.slick-slide {
		overflow: hidden;
		margin: 0 5px;
		height: 133px;
	}
	.back-from-more {
		display: block;
		margin: 23px auto 18px;
		text-align: center;
		color: #68be28;
		font: 400 18px / 22px $Roboto;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}