.services-page {
	@include site-container;
	padding: 20px 0;
	overflow: hidden;

	.services-list {
		@include border-box;
		margin: 0 auto;
		text-align: center;

		li {
			display: block;
			text-align: left;
			width: 100%;
			max-width: 285px;
			margin: 20px auto;
			border: 2px solid #ebebeb;

			&:nth-child(4),
			&:nth-child(5) {
				display: none;
			} 

			.img-wrapper {
				max-width: 285px;
				max-height: 187px;
				width: 100%;
				height: 100%;
				margin: 0 0 24px;

				img {
					max-width: 100%;
					height: auto;
				} 
			}
			.overflow-block {
				overflow: hidden;
				padding: 0 12px 19px;
			}
			.services-item-title {
				margin: 0 0 21px;
				color: #4a4a4a;
				font: 400 22px / 24px $Roboto;
				text-transform: uppercase;
			}

			.services-item-content {
				color: #4a4a4a;
				font: 300 18px / 22px $Roboto;

				span {
					display: none;
				}
			}

			.more-item-btn {
				float: right;
				margin: 21px 0 0;
				color: #68be28;
				font: 300 18px / 22px $Roboto;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}